html, body {
    padding: 0px;
    margin: 0px;
}
.component.application * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.component.application {
    background-color: gainsboro;
    color: white;    
}